@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

.fit-h {
  height: fit-content;
}
.fit-w {
  width: fit-content;
}

svg {
  width: fit-content;
  padding: 9%;
  padding-left: 15%;
}
path {
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 10, 1;
  fill: none;
}
.iot1,
.es2,
.ml3,
.cv4,
.rpa5,
.wd6 {
  height: 100px;
  position: absolute;
}
.iot1 {
  margin-left: -90%;
  margin-top: 1%;
  text-shadow: 2px 2px 2px black;
}
.iot1:hover {
  padding: 5%;
  background: rgba(156, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  margin-top: 1%;
  margin-left: -90%;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 10;
}
.es2 {
  height: 120px;
  margin-top: 16%;
  margin-left: -56%;
}
.es2:hover {
  padding: 5%;
  background: rgba(156, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  margin-top: 13%;
  margin-left: -73%;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 10;
}
.ml3 {
  height: 130px;
  margin-top: 40%;
  margin-left: -23%;
}
.ml3:hover {
  padding: 5%;
  background: rgba(156, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  margin-top: 13%;
  margin-left: -60%;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 10;
}
.cv4 {
  margin-top: 74%;
  margin-left: -34%;
}
.cv4:hover {
  padding: 5%;
  background: rgba(156, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  margin-top: 30%;
  margin-left: -60%;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 10;
}
.rpa5 {
  height: 110px;
  margin-top: 60%;
  margin-left: -65%;
}
.rpa5:hover {
  padding: 5%;
  background: rgba(156, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  margin-top: 31%;
  margin-left: -83%;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 10;
}
.wd6 {
  margin-top: 85%;
  margin-left: -98%;
}
.wd6:hover {
  padding: 5%;
  background: rgba(156, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  height: 400px;
  margin-top: 40%;
  margin-left: -98%;
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 10;
}
.titlepages h1 {
  color: white !important;
  padding: 2%;
  font-size: 50px;
  font-weight: 900px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.titlepages {
  text-align: center;
  height: 500px;
  margin-top: 3% !important;
  background: rgba(98, 98, 98, 0.749);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  border-left: 5px solid #f4c430;
}
